.css-1cys9t7,
.css-6kdvmq-TextFeature,
.css-khcbz7 {
  letter-spacing: unset !important;
}
.css-1ys8i88-FeatureCardColumn,
.css-46azuv-ServiceSection,
.css-19mbrgr,
.css-186wn57 {
  text-align: right !important;
  padding-right: 2%;
}
.css-133z33l-FeatureCard {
  padding-right: 3%;
}
